.app {
    display: flex;
    height: 100vh;
    background-color: var(--incoming-chat-bg);
/* background: rgb(116,247,204);
background: radial-gradient(circle, rgba(116,247,204,1) 0%, rgba(148,187,233,1) 100%); */
  }
  
  
  .left-section.open {
    width: 150px; /* Adjust as needed */
    height: 100vh;
    background-color:var(--incoming-chat-bg);
    border-right: #baf2fc solid 0.5px;
    max-width: 150px;



  }
  

  .right-section {
    width: 200px; /* Adjust as needed */
  }
  
  .burger-menu {
    cursor: pointer;
    padding-right: 30px;
    /* background-color: var(--blur); */
    color: white;
    position: flex;
    z-index: 99 !important;
    justify-content:flex-end; 
}

  /* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap'); */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: var(--text-color);
}

/* var(--outgoing-chat-border); */
:root {    
    --text-color: #b9b1b1;
    --icon-color: #ACACBE;
    --icon-hover-bg: #5b5e7141;
    --placeholder-color: #dcdcdc;
    --outgoing-chat-bg: #343541;
    --incoming-chat-bg: #444654;
    --outgoing-chat-border: #343541;
    --incoming-chat-border: #444654;
    --blur-background: rgba(52, 53, 65, 0.7);
    --video-window-drop-shadow: rgb(70, 68, 68);
    --blur:rgba(63, 62, 62, 0.364);

    
    }
    .light-mode {
    --text-color: #343541;
    --icon-color: #a9a9bc;
    --icon-hover-bg: #f1f1f3;
    --placeholder-color: #6c6c6c;
    --outgoing-chat-bg: #FFFFFF;
    --incoming-chat-bg: #F7F7F8;
    --outgoing-chat-border: #FFFFFF;
    --incoming-chat-border: #D9D9E3;
    --blur-background: rgba(194, 195, 208, 0.7);
    --video-window-drop-shadow: rgb(148, 149, 143);
}

    
.App{
    display: flex;
    justify-content:space-between;
    

}

.left-section{
    width: 16vh;
    transition: width 0.3s ease-in-out;
    padding: 5px;

    /* border: 3px solid red; */
    /* width: 20%; */
    /* font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-bottom: 30px; */

}

.left-section-lower-part{
    /* border: 4px solid rgb(224, 201, 201); */
    /* margin-top: 70%; */
    align-items:baseline;
    margin-top: 69vh;


}

.left-section-top-part{
    /* border: 4px solid red; */
}

.left-section-icon-size{
    font-size: 30px;
    margin-left: 10px;
}

.left-section-icons{
    display: flex;
    border: #D9D9E3 1px solid;
    
}
.left-section-font{
    font-size: 17px;
}

.middle-section{
    /* border: 3px solid green; */
    flex-grow: 1;
    padding: 1%;
    /* width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; */
    background-color: var(--incoming-chat-bg);
}

.scenario-section{
    height: 35%;
    width: 80%;
    border-radius: 20px;
    padding: 20px;
    overflow: hidden;
    overflow-y:scroll;
    align-self: center;
    margin-left: 10%;

    background-color: var(--outgoing-chat-bg);
}

.quiz-scenraio-box{
    /* border: 3px solid red; */
    margin-bottom: 1.5rem;
    /* display: inline-block; */
    /* word-wrap: break-word; */
    /* overflow-x:scroll; */

    /* float: left; */
}

.question-answers{
    border: 3px solid lime;
}

.video-style{
    border-radius: 30px;
    /* height: 590px;
    width: 1050px; */

    height: 62vh;
    width: 110vh;
    
    /* box-shadow: 0 5px 10px var(--video-window-drop-shadow); */
}

.right-section{
    /* border: 3px solid blue; */
    
    padding: 1%;
    width: 50%;
    background-color: var(--incoming-chat-bg);
}

.chatbox {
    /* border: 3px solid lightblue; */
    background-color: var(--outgoing-chat-border);
    flex: 1;
    overflow-y:scroll;
    align-self: center;
    font-size: 15px;
    width: 100%;
    height: 79%;
    padding: 7px;
    border-radius: 0.6rem 0 0.6rem;
}

.user-profile-picture{
    border-radius: 80px;
    width: 100px;
    user-select: none;
    margin-left: 1vh;

}

.chat {
    display: flex;
    margin-bottom: 5px;
    /* border-radius: 0.6rem; */
    /* max-width: 1px; */
}

.bot{
    /* background: #eaeaea; */
    background: var(--incoming-chat-bg);
    /* border-radius: 0.5rem; */
    padding: 1%;
    width: 100%;
}

.chatImg {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 10%;
}

.textOutput {
    flex: 1;
}

.chatFooter {
    padding: 20px;
    
    background-color: var(--outgoing-chat-border);
    border-radius: 0 0 0.6rem 0.6rem;
}

.center{
    justify-content: center;
    align-items: center;
}

.inputText {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Align buttons to the far right */
    position: relative; /* Add this */
}

textarea {
    flex: 1.5; /* Adjust the width as needed */
    width: 68%;
    padding: 8.6px;
    border-radius: 11px;
    margin-right: 10px;
    height: 45px;
    font-size: 17px;
    background-color: var(--outgoing-chat-border);
    border: .5px solid var(--placeholder-color);
    resize: none;
    max-height: 250px;
    overflow-y: auto;
    outline: 1px solid var(--incoming-chat-border);
}

.send{
    border: none;
    padding: 10px;
    cursor: pointer;
    background-color: transparent;
    z-index: 1;
}

.video-div {
    border: 4px solid greenyellow;
    height: 5600px;
}

.center-video{
    display: flex;
    justify-content: center;
}

.hover:hover{
    background-color: var(--icon-hover-bg);
    border-radius: 50%;
}
#chat-input{
    position: absolute;
    bottom:0;
    left: 0;
    overflow-y: hidden;
    
}

.burger-menu-opened
{
    cursor: pointer;
    padding: 10px;
    /* background-color: var(--blur); */
    color: white;
    z-index: 99 !important;
    justify-content: flex-end;

}

.welcomePageContainer{
    justify-content: center;
    align-items: center;
    /* padding-top: 10%; */
    /* margin-bottom: 70%; */
    font-size: 20px;
    user-select: none;
    animation: waving-hands 2.5s infinite;
    transform-origin: 70% 70%;
    display: inline-block;
    z-index: 99 !important;
    /* border: red 1px solid; */

}
@keyframes waving-hands {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(14deg);
    }
    20% {
        transform: rotate(-8deg);
    }
    30% {
        transform: rotate(14deg);
    }
    40% {
        transform: rotate(-4deg);
    }
    50% {
        transform: rotate(10deg);
    }
    60% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
.paragraph{
    font-size: large;
    /* margin-top: 50%; */
    margin-left: 30%;
    user-select: none;
    z-index: 99 !important;
}
.display-none{
    display: none;
}
.welcome-logo{
    margin-top: 40%;
    margin-left: 20%;
}